@{
  Layout = "_Layout";
}

@using System.Security.Claims


<hr />
@if (User.Identity.IsAuthenticated)
{
    <h3>Hello @User.Identity.Name!</h3>
    @using (Html.BeginForm("LogOff", "Account"))
    {
      <input type="submit" class="btn btn-dark mb-3" value="Log out" />
    }
}
else
{
    <h2>Create an Account or Log in</h2>
    <button class="btn btn-success">@Html.ActionLink("Register", "Register")</button>
    <button class="btn btn-primary">@Html.ActionLink("Log in", "Login")</button>
}
<button class="btn btn-dark">@Html.ActionLink("Home", "Index", "Treats")</button>