@{
  Layout = "_Layout";
}

@model Pierre.Models.Treat

<h2>Are you sure you want to delete your @Model.Name treat?<h2>

@using (Html.BeginForm())
{
    <input type="submit" value="Delete" class="btn btn-danger" />
}

<button class="btn btn-dark">@Html.ActionLink("Go back", "Details", new { id = @Model.TreatId })</button>